__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

*.env
*.env.*
*.env.*.*
*.env.*.*.*
*.env.*.*.*.*
*.env.*.*.*.*.*
*.env.*.*.*.*.*.

*.sqlite
*.sqlite3
*.sqlite3.*
*.sqlite3.*.*
*.sqlite3.*.*.*
*.sqlite3.*.*.*.*
*.sqlite3.*.*.*.*.*


*__pycache__*